<nav class="navbar navbar-expand-lg " style="background-color: #f1f2f6;">
    <div class="container-fluid">
        <img src="https://localhost:44326//uploads/rentallogo1.png" alt="" style="width: 200px; margin-left: -10px;">

        <div class="collapse navbar-collapse " style="margin-left: -5px;" id="navbarSupportedContent">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cars">Showroom</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <form class="d-flex butonyeri" *ngIf="Authenticated == false">
                    <button class="btn register" routerLink="/login/register">Register</button>
                    <button class="btn login" type="submit" routerLink="/login">
                        Login
                    </button>
                </form>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="Authenticated != false">
                    <li class="nav-item dropdown right">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{user.firstName}} {{user.lastName}} (FS:{{user.findexPoint}})
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
                            <hr class="dropdown-divider">
                            <li><a class="dropdown-item" routerLink="/customers">Customers</a></li>
                            <li><a class="dropdown-item" routerLink="/rentals">Rentals</a></li>
                            <li><a class="dropdown-item" routerLink="/coloradd">Color-Edit</a></li>
                            <li><a class="dropdown-item" routerLink="/brandadd">Brand-Edit</a></li>
                            <li><a class="dropdown-item" routerLink="/caradd">Car-Edit</a></li>
                            <hr class="dropdown-divider">
                            <li>
                                <a class="dropdown-item" (click)="logOut()"><i class="bi bi-power"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </ul>

        </div>
    </div>
</nav>