.resimKapsayici {
  position: relative;
}
.resimYazisi {
  position: absolute;
  left: 10px;
  top: 30px;
  color: gainsboro;
  opacity: 0.9;
}

.btn {
  color: white;
  background-color: #2c3a47;
  opacity: 0.7;
}

.btn:hover {
  opacity: 1;
}
