<div class="container ">
    <div class="resimKapsayici">
        <img src="https://localhost:44326//uploads/audiuspage.jpg" width="100%">
        <h1 class="resimYazisi" style="font-size: 4rem; margin-left: 336px;">
            Who are we?</h1>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col">
            <h1 class="text-center">About Us</h1>
            <p class="lead mb-4" style="font-size: 1.5rem;">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint ut quisquam asperiores dolor unde in,
                ipsa veniam, consequuntur dignissimos labore nemo vel animi iusto minima maxime atque voluptatum
                totam non commodi deleniti. Sed fugiat tenetur officiis adipisci aut aperiam repellendus vero, modi
                vitae omnis ex unde? Consequatur aliquid totam magnam deleniti, minima ipsa, aspernatur magni
                praesentium eligendi quis vitae nemo autem necessitatibus id odio deserunt veritatis animi
                accusamus! Incidunt, quisquam. </p>
            <button style="width: 150px; margin-left: 454px;
            height: 50px; " type="button" class="btn" routerLink="/cars">Contact Us</button><br><br>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="https://localhost:44326//uploads/aboutus.jpg" width="120%"
                style="margin-bottom: 100px; border-radius: 10px; margin-left: 30px;">
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <img src="https://localhost:44326//uploads/audiuspage2.jpg" width="120%"
                style="margin-bottom: 100px; border-radius: 10px; ">
        </div>
    </div>
</div>