<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<div class="footer-basic">
    <footer>
        <div class="social"><a href="https://www.instagram.com/dogu_yllmaz/"><i
                    class="icon ion-social-instagram"></i></a><a
                href="https://www.linkedin.com/in/hüseyin-doğukan-yılmaz-75a1531ab/"><i class="fab fa-linkedin"></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a routerLink="/home">Home</a></li>
            <li class="list-inline-item"><a routerLink="/cars">Services</a></li>
            <li class="list-inline-item"><a routerLink="/about">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Doğukan Yılmaz © 2018</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>