<div class="card">
    <div class="row ">
        <div class="col-lg-8">
            <div id="carouselExampleControls" class="carousel carousel-dark  slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div *ngFor="let carImage of carImages" (click)="setCurrentImageClass(carImage)"
                        [class]="getCurrentImageClass(carImage)">
                        <img src="{{ imageBaseUrl + carImage.imagePath }}" class="d-block w-100" alt="..."
                            style="width: 760px; height: 460px;" />
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>

        <div *ngIf="carDetail" class="col-lg-4 my-auto">
            <h1 style="text-align: center;">{{ carDetail.brandName }}</h1>
            <hr>
            <ul class="list-unstyled">
                <li>
                    <h5>
                        <strong>Model: </strong>
                        {{ carDetail.name }}
                    </h5>
                </li>
                <hr>
                <li>
                    <h5><strong>Color: </strong>{{ carDetail.colorName }}</h5>
                </li>
                <hr>
                <li>
                    <h5><strong>Model Year: </strong>{{ carDetail.modelYear }}</h5>
                </li>
                <hr>
                <li>
                    <h5><strong>Description: </strong>{{ carDetail.description }}</h5>
                </li>
                <hr>
                <li>
                    <h5><strong>Daily Price: </strong>{{ carDetail.dailyPrice | currency:"₺"}} </h5>
                </li>
                <hr>
                <li>
                    <h5><strong>Findex Score: </strong>{{ carDetail.carFindexPoint}}</h5>
                </li>
                <app-rental-car></app-rental-car>
            </ul>
        </div>
    </div>
</div>