<div class="container ">
    <div class="resimKapsayici">
        <img src="https://localhost:44326//uploads/hompage-first.jpg" width="100%">
        <h1 class="resimYazisi" style="font-size: 4rem;margin-top: 16px;  margin-left: 30px;">
            Suitable for Every Budget<br>Vehicles</h1>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-md-6" style="margin-left: 30px;">
            <p class="lead mb-4" style="font-size: 1.5rem;">
                <br>Do you need an instant car? Then we are proud to offer you our quality and suitable vehicles. With a
                single click,
                either delivered to your door or from the office.
            </p>
            <button style="width: 150px;
            height: 50px;" type="button" class="btn btn-primary" routerLink="/cars">Rent now</button><br><br>
        </div>
        <div class="col-md-5">
            <img src="https://localhost:44326//uploads/homepage-cars.jpg" width="120%" style="margin-bottom: 100px;">
        </div>


        <div class="row" style="text-align-last: center;">
            <div style="margin-top: 15px; margin-left: 260px;">
                <svg style="color: #df8c1f;" xmlns="http://www.w3.org/2000/svg" width="100" height="100"
                    fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
                    <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                    <path style="color: #e27d1e;"
                        d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z" />
                </svg>
                <h1 class="mb-3" style="font-size: 2rem;">Cheap Car Hire</h1>
                <p class="lead mb-4">
                    The cheapest car rental center in Turkey.
                </p>
            </div>

            <div style="margin-top: -190px; margin-left: -240px;">
                <svg style="color: rgb(101, 99, 223);" xmlns="http://www.w3.org/2000/svg" width="100" height="100"
                    fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                    <path style="color: rgb(101, 99, 223);"
                        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                </svg>
                <h1 class="mb-3" style="font-size: 2rem;">7/24 Service</h1>
                <p class="lead mb-4">
                    7/24 Free car delivery to your door
                </p>
            </div>
        </div>

    </div>

</div>