<div *ngIf="dataLoaded == false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<h3 class="" style="text-align: center">Rentals List</h3>
<table class="table" style="text-align: center">
    <thead *ngIf="dataLoaded != false">
        <tr>
            <th>Id</th>
            <th>Brand</th>
            <th>Customer Name</th>
            <th>Rent Date</th>
            <th>Return Date</th>
            <th>Description</th>
        </tr>
    </thead>
    <tr *ngFor="let rental of rentals">
        <td>{{ rental.id }}</td>
        <td>{{ rental.brandName }}</td>
        <td>{{ rental.userName }}</td>
        <td>{{ rental.rentDate }}</td>
        <td *ngIf="rental.returnDate == null">Undelivered</td>
        <td *ngIf="rental.returnDate != null">
            {{ rental.returnDate }}
        </td>
        <td>{{ rental.description }}</td>
    </tr>
</table>