<br />
<button type="button" class="btn btn-back" aria-label="Close" routerLink="/profile">
    Back
</button>
<br /><br />
<div class="card">
    <div class="card-header">
        <h5 class="title" style="text-align: center;">
            Update Password
        </h5>
    </div>
    <div class="card-body">
        <form [formGroup]="passwordForm">
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword"
                    placeholder=" " />
                <label for="oldPassword">Old Password</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="newPassword" formControlName="newPassword"
                    placeholder="Password" />
                <label for="newPassword">New Password</label>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn " (click)="change()">Update Password</button>
    </div>
</div>