<body class="text-center" style="background: transparent;">
    <img src="https://localhost:44326//uploads/loginbackground.jpg" alt="">
    <div class="container">
        <div class="row">
            <main class="form-signin">
                <form [formGroup]="loginForm">

                    <div class="form-floating">
                        <input formControlName="email" type="email" class="form-control" id="floatingInput"
                            placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input formControlName="password" type="password" class="form-control" id="floatingPassword"
                            placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>

                    <button class="w-100 btn btn-lg" (click)="login()">Sign in</button>

                    <button class="registerbtn" routerLink="/login/register">Don't have an account?</button>
                </form>
            </main>
        </div>
    </div>
</body>