<div class="container">
    <div *ngIf="dataLoaded == false" class="spinner-border text-info m-4" role="status"></div>
    <div class="row">
        <app-filter></app-filter>
        <input class="form-control form-control-dark" type="text" style="margin-bottom: 10px;" placeholder="Search"
            [(ngModel)]="filterText">
        <div *ngFor="let car of cars | navCarFilter:filterText" class="card" style="width:340px;">
            <img [src]="imageUrl + car.imagePath" (error)="car.imagePath = 'uploads/default.jpg'" class="card-img-top"
                style="height: 210px;" alt="Car image">
            <div class="card-body">
                <h5 class="card-title"><strong>{{car.name}}</strong></h5>
                <hr>
                <p class="card-text"> <strong>Brand:</strong> {{car.brandName}}</p>
                <hr>
                <p class="card-text"><strong>Color:</strong> {{car.colorName}}</p>
                <hr>
                <p class="card-text"><strong>Model Year:</strong> {{car.modelYear}}</p>
                <hr>
                <p class="card-text"><strong>Daily Price:</strong> {{car.dailyPrice | currency:"₺"}}</p>
                <button class="btn" routerLink="/cars/details/{{car.id}}">See More</button>
            </div>
        </div>
    </div>
</div>