.row {
  padding-top: 20px;
}
.card {
  margin: 10px;
  text-align: center;
  padding: 0;
}

.btn {
  width: 100%;
  background-color: #130f40;
  color: white;
}

.btn:hover {
  background-color: #686de0;
}
